<a href="https://colab.research.google.com/github/byunsy/quantitative-momentum/blob/main/Quantitative_Momentum_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quantitative Momentum Strategy

## Import Necessary Modules

In [1]:
import numpy as np 
import pandas as pd 
import requests 
import math

In [2]:
from google.colab import files
uploaded = files.upload()

## Attain S&P Stock Listing

Get a list of all the companies in the S&P 500.

In [3]:
sp500 = pd.read_csv('sp_500_stocks.csv')
sp500

    Symbol
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## API Call

We first need to have a test api token to use IEX Cloud APIs (This will remain private). You can receive sandbox Text APIs from the IEX Cloud API website.

In [4]:
from iex_api import IEX_CLOUD_API_TOKEN

In [5]:
# To take an example of what we get from IEX Cloud, we will take Microsoft
symbol='MSFT'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
ms_data = requests.get(api_url).json()

ms_data

{'avg10Volume': 32210965,
 'avg30Volume': 27926157,
 'beta': 1.1674097327656912,
 'companyName': 'Microsoft Corporation',
 'day200MovingAvg': 221.59,
 'day30ChangePercent': 0.02307254762200594,
 'day50MovingAvg': 225.87,
 'day5ChangePercent': 0.06446413100950417,
 'dividendYield': 0.009508437141495909,
 'employees': 0,
 'exDividendDate': '2020-11-06',
 'float': 0,
 'marketcap': 1764875578239,
 'maxChangePercent': 8.740028483584293,
 'month1ChangePercent': 0.009061307537760202,
 'month3ChangePercent': 0.05682204525359558,
 'month6ChangePercent': 0.07551647899833484,
 'nextDividendDate': '2021-02-06',
 'nextEarningsDate': '0',
 'peRatio': 36.82188662232647,
 'sharesOutstanding': 7648792275,
 'ttmDividendRate': 2.1122219563584808,
 'ttmEPS': 6.5,
 'week52change': 0.3878217139904963,
 'week52high': 242.42,
 'week52low': 138.08,
 'year1ChangePercent': 0.38604758416241,
 'year2ChangePercent': 1.2375391058000553,
 'year5ChangePercent': 3.8122036832710737,
 'ytdChangePercent': 0.01600076406897766}

We can now get specific information about our data using indices.

In [6]:
print("Year 1 Percentage Change:", ms_data['year1ChangePercent'])

Year 1 Percentage Change: 0.38604758416241

**NOTE:**

Since we are using sandbox test APIs, the values returned are not real.

## Data Preprocessing

We will now transfer our attained data into a data frame.

In [7]:
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [8]:
symbol_batch = list(chunks(sp500['Symbol'], 100))
symbol_strings = []

for batch in symbol_batch:
    symbol_strings.append(','.join(batch))

df_columns = ['Symbol', 'Price', 'One-Year Price Return']
df = pd.DataFrame(columns=df_columns)

for symbol_string in symbol_strings:

    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
        df = df.append(pd.Series([symbol, data[symbol]['quote']['latestPrice'], 
                                  data[symbol]['stats']['year1ChangePercent']], 
                                  index=df_columns), ignore_index = True)
        
df

    Symbol   Price One-Year Price Return
0        A  132.05              0.413691
1      AAL   16.10             -0.437299
2      AAP  166.63               0.11934
3     AAPL  140.25              0.800867
4     ABBV  112.93              0.355596
..     ...     ...                   ...
500    YUM  111.65             0.0262247
501    ZBH  167.34              0.077872
502   ZBRA  415.17              0.635136
503   ZION   48.16             0.0449061
504    ZTS  165.34              0.166694

[505 rows x 3 columns]

## 50 Highgest-momentum stocks in the S&P 500

In [9]:
df_sorted = df.sort_values('One-Year Price Return', ascending=False)
df_sorted = df_sorted[:51]

df_sorted.reset_index(drop=True, inplace=True)
df_sorted

   Symbol    Price One-Year Price Return
0    CARR    40.35                2.3176
1     FCX    31.65               1.54195
2      LB    47.53               1.33453
3     ALB   174.74               1.22839
4    PYPL   261.00               1.20907
5    NVDA   551.50               1.19972
6    ALGN   534.78              0.950922
7     PWR    79.64              0.928609
8     WST   304.90              0.927295
9    ABMD   361.10              0.923737
10   SIVB   502.27              0.887587
11   CDNS   141.13              0.877699
12   LRCX   566.31              0.854186
13     DE   305.36              0.835259
14    AMD    94.70              0.819951
15   AAPL   140.25              0.800867
16   QCOM   170.44              0.793025
17   SNPS   283.43              0.774158
18   AMZN  3396.02              0.766343
19    NOW   566.32              0.765042
20   IPGP   263.00              0.738322
21   KLAC   308.49              0.737153
22   IDXX   512.80              0.736219
23   NFLX   584.59              0.734385
24    CMG  1502.41              0.732741
25   TSCO   163.30              0.730571
26    TGT   197.39              0.727673
27   AMAT   108.42              0.701652
28    FDX   256.99              0.689314
29    URI   263.28              0.680268
30   ZBRA   415.17              0.635136
31   TMUS   134.96              0.614872
32     GM    57.90              0.614805
33   EBAY    58.63              0.610265
34   DXCM   380.04              0.598307
35    BIO   597.46              0.597777
36   ATVI    98.57              0.585869
37   TTWO   206.46              0.582067
38   QRVO   183.72              0.567412
39   AVGO   484.69               0.56179
40    ROL    37.82              0.557067
41   FFIV   212.25              0.554466
42   ADSK   309.37               0.55365
43   APTV   143.58              0.541064
44   MXIM    97.38              0.536995
45   ODFL   205.81              0.532927
46   CTVA    44.15              0.524394
47    PKI   155.39               0.52165
48    EMN   110.05              0.520815
49    TMO   530.20              0.517841
50    CMI   250.00              0.516104

## Momentum Strategy

In [10]:
hqm_columns = ['Symbol', 'Price', 'HQM Score', 'Num Shares to Purchase', 
               '1-Year Price Ret', '1-Year Return Per',
               '6-Month Price Ret','6-Month Return Per',
               '3-Month Price Ret','3-Month Return Per',
               '1-Month Price Ret','1-Month Return Per']

In [11]:
hqm_df = pd.DataFrame(columns=hqm_columns)

for symbol_string in symbol_strings:

    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
        hqm_df = hqm_df.append(pd.Series([symbol, data[symbol]['quote']['latestPrice'],'N/A','N/A',
                                          data[symbol]['stats']['year1ChangePercent'],'N/A',
                                          data[symbol]['stats']['month6ChangePercent'],'N/A',
                                          data[symbol]['stats']['month3ChangePercent'],'N/A',
                                          data[symbol]['stats']['month1ChangePercent'],'N/A'], 
                                          index = hqm_columns), ignore_index = True)
        
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  131.07  ...         0.0790139                N/A
1      AAL   16.20  ...         0.0222724                N/A
2      AAP  169.30  ...         0.0284305                N/A
3     AAPL  142.40  ...         0.0551683                N/A
4     ABBV  112.71  ...         0.0953878                N/A
..     ...     ...  ...               ...                ...
500    YUM  109.26  ...       -0.00293935                N/A
501    ZBH  163.78  ...         0.0717818                N/A
502   ZBRA  424.55  ...         0.0768103                N/A
503   ZION   49.41  ...          0.148069                N/A
504    ZTS  166.61  ...        0.00968561                N/A

[505 rows x 12 columns]

In [12]:
from scipy import stats

time_periods = ['1-Year','6-Month','3-Month','1-Month']

for row in hqm_df.index:
    for time_period in time_periods:
        if hqm_df.loc[row, f'{time_period} Price Ret'] == None:
            hqm_df.loc[row, f'{time_period} Price Ret'] = 0


for row in hqm_df.index:
    for time_period in time_periods:

        hqm_df.loc[row, f'{time_period} Return Per'] = stats.percentileofscore(a=hqm_df[f'{time_period} Price Ret'], 
                                                                               score=hqm_df.loc[row, f'{time_period} Price Ret'])

# Print the entire DataFrame    
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  131.07  ...         0.0790139             69.703
1      AAL   16.20  ...         0.0222724             40.198
2      AAP  169.30  ...         0.0284305            43.5644
3     AAPL  142.40  ...         0.0551683            59.4059
4     ABBV  112.71  ...         0.0953878            74.6535
..     ...     ...  ...               ...                ...
500    YUM  109.26  ...       -0.00293935            24.7525
501    ZBH  163.78  ...         0.0717818            66.9307
502   ZBRA  424.55  ...         0.0768103            68.7129
503   ZION   49.41  ...          0.148069            88.9109
504    ZTS  166.61  ...        0.00968561            31.8812

[505 rows x 12 columns]

## HQM (High Quality Momentum) Score

In [13]:
from statistics import mean

for row in hqm_df.index:
    momentum_percentiles = []

    for time_period in time_periods:
        momentum_percentiles.append(hqm_df.loc[row, f'{time_period} Return Per'])

    hqm_df.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [14]:
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  131.07  ...         0.0790139             69.703
1      AAL   16.20  ...         0.0222724             40.198
2      AAP  169.30  ...         0.0284305            43.5644
3     AAPL  142.40  ...         0.0551683            59.4059
4     ABBV  112.71  ...         0.0953878            74.6535
..     ...     ...  ...               ...                ...
500    YUM  109.26  ...       -0.00293935            24.7525
501    ZBH  163.78  ...         0.0717818            66.9307
502   ZBRA  424.55  ...         0.0768103            68.7129
503   ZION   49.41  ...          0.148069            88.9109
504    ZTS  166.61  ...        0.00968561            31.8812

[505 rows x 12 columns]

In [24]:
hqm_df_sorted = hqm_df.sort_values(by='HQM Score', ascending=False)
hqm_df_sorted = hqm_df_sorted[:51]

hqm_df_sorted.reset_index(inplace=True)
hqm_df_sorted

    index Symbol  ...  1-Month Price Ret 1-Month Return Per
0     179    FCX  ...            0.25982            97.4257
1     410   SIVB  ...           0.314897            99.0099
2      23    ALB  ...           0.193894            94.4554
3     203     GM  ...           0.367984            99.4059
4      29   AMAT  ...           0.245754            97.0297
5     314    MOS  ...           0.306922            98.4158
6     288   LRCX  ...           0.183816            93.6634
7     275     LB  ...           0.194413            94.8515
8     266   KLAC  ...           0.187669            93.8614
9     324     MU  ...           0.172931            93.0693
10    467   VIAC  ...           0.316572            99.2079
11    462    URI  ...           0.141973            88.1188
12    128     DE  ...            0.13953            87.9208
13     45   APTV  ...            0.12132            84.3564
14     16    AES  ...           0.194268            94.6535
15    174      F  ...           0.314219            98.8119
16    385    PWR  ...           0.125734            85.5446
17    135  DISCA  ...           0.382364             99.604
18    441    TPR  ...           0.137894            87.5248
19    253    IVZ  ...           0.244777            96.8317
20    388   QCOM  ...            0.11492            83.3663
21    182   FFIV  ...           0.166129            92.6733
22    347    NWL  ...           0.183663            93.4653
23    127     DD  ...           0.154446            90.8911
24    136  DISCK  ...           0.387288             99.802
25    389   QRVO  ...           0.107043             79.604
26    318     MS  ...            0.11527            83.5644
27    263   KEYS  ...           0.133549            86.5347
28    407   SCHW  ...           0.136482            87.1287
29    246   IPGP  ...           0.151562             90.099
30    436    TGT  ...           0.116757            83.9604
31    283    LLY  ...           0.242871            96.6337
32    502   ZBRA  ...          0.0768103            68.7129
33    272    KSS  ...           0.188804            94.0594
34    172   EXPE  ...           0.113083            82.5743
35    299   MCHP  ...          0.0985733            76.4356
36    210     GS  ...            0.15798            91.2871
37    120   CTVA  ...          0.0806861             70.297
38    394     RF  ...           0.152092             90.297
39     50   AVGO  ...          0.0740328            67.7228
40     89     CF  ...            0.19918            95.2475
41    185   FITB  ...           0.160407            91.6832
42    192    FRC  ...           0.148864            89.3069
43    325   MXIM  ...          0.0857048            72.2772
44     37   ANET  ...          0.0723006            67.1287
45    503   ZION  ...           0.148069            88.9109
46    306    MHK  ...           0.106081            79.0099
47    433    TEL  ...          0.0998492            76.6337
48    256    JCI  ...           0.149502             89.505
49     98    CMA  ...           0.154536            91.0891
50    426    SYF  ...           0.129044            85.9406

[51 rows x 13 columns]

In [29]:
PORTFOLIO_SIZE = 100000
position_size = float(PORTFOLIO_SIZE) / len(hqm_df_sorted.index)
print(position_size)

1960.7843137254902

In [30]:
for i in range(0, len(hqm_df_sorted['Symbol'])):
    hqm_df_sorted.loc[i, 'Num Shares to Purchase'] = math.floor(position_size / hqm_df_sorted['Price'][i])

hqm_df_sorted

    index Symbol  ...  1-Month Price Ret 1-Month Return Per
0     179    FCX  ...            0.25982            97.4257
1     410   SIVB  ...           0.314897            99.0099
2      23    ALB  ...           0.193894            94.4554
3     203     GM  ...           0.367984            99.4059
4      29   AMAT  ...           0.245754            97.0297
5     314    MOS  ...           0.306922            98.4158
6     288   LRCX  ...           0.183816            93.6634
7     275     LB  ...           0.194413            94.8515
8     266   KLAC  ...           0.187669            93.8614
9     324     MU  ...           0.172931            93.0693
10    467   VIAC  ...           0.316572            99.2079
11    462    URI  ...           0.141973            88.1188
12    128     DE  ...            0.13953            87.9208
13     45   APTV  ...            0.12132            84.3564
14     16    AES  ...           0.194268            94.6535
15    174      F  ...           0.314219            98.8119
16    385    PWR  ...           0.125734            85.5446
17    135  DISCA  ...           0.382364             99.604
18    441    TPR  ...           0.137894            87.5248
19    253    IVZ  ...           0.244777            96.8317
20    388   QCOM  ...            0.11492            83.3663
21    182   FFIV  ...           0.166129            92.6733
22    347    NWL  ...           0.183663            93.4653
23    127     DD  ...           0.154446            90.8911
24    136  DISCK  ...           0.387288             99.802
25    389   QRVO  ...           0.107043             79.604
26    318     MS  ...            0.11527            83.5644
27    263   KEYS  ...           0.133549            86.5347
28    407   SCHW  ...           0.136482            87.1287
29    246   IPGP  ...           0.151562             90.099
30    436    TGT  ...           0.116757            83.9604
31    283    LLY  ...           0.242871            96.6337
32    502   ZBRA  ...          0.0768103            68.7129
33    272    KSS  ...           0.188804            94.0594
34    172   EXPE  ...           0.113083            82.5743
35    299   MCHP  ...          0.0985733            76.4356
36    210     GS  ...            0.15798            91.2871
37    120   CTVA  ...          0.0806861             70.297
38    394     RF  ...           0.152092             90.297
39     50   AVGO  ...          0.0740328            67.7228
40     89     CF  ...            0.19918            95.2475
41    185   FITB  ...           0.160407            91.6832
42    192    FRC  ...           0.148864            89.3069
43    325   MXIM  ...          0.0857048            72.2772
44     37   ANET  ...          0.0723006            67.1287
45    503   ZION  ...           0.148069            88.9109
46    306    MHK  ...           0.106081            79.0099
47    433    TEL  ...          0.0998492            76.6337
48    256    JCI  ...           0.149502             89.505
49     98    CMA  ...           0.154536            91.0891
50    426    SYF  ...           0.129044            85.9406

[51 rows x 13 columns]