<a href="https://colab.research.google.com/github/byunsy/quantitative-momentum/blob/main/Quantitative_Momentum_Strategy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quantitative Momentum Strategy

The fundamental idea of 'momentum investing' is a trading strategy in which investors buy stocks that are rising and sell them at their peaks.

In this quantitative momentum strategy study, we will be building a investment strategy that **selects 50 stocks with the highest price momentum** (i.e. highest high-quality-momentum score). Afterwards, we will calculate the recommended number of shares to purchase based on an equally weighted portfolio of the selected 50 stocks.

## Import Necessary Modules

In [1]:
import numpy as np 
import pandas as pd 
import requests 
import math

We will need to upload the `sp_500_stocks.csv` to attain the complete listing of companies in S&P 500.

In [2]:
from google.colab import files
uploaded = files.upload()

## Attain S&P Stock Listing

Get a list of all the constituents in the S&P 500.

In [3]:
sp500 = pd.read_csv('sp_500_stocks.csv')
sp500

    Symbol
0        A
1      AAL
2      AAP
3     AAPL
4     ABBV
..     ...
500    YUM
501    ZBH
502   ZBRA
503   ZION
504    ZTS

[505 rows x 1 columns]

## API Call

We first need to have a test api token to use IEX Cloud APIs (This will remain private). You can receive sandbox Text APIs from the IEX Cloud API website.

In [4]:
from iex_api import IEX_CLOUD_API_TOKEN

**NOTE:**

`api_url` differs by what we are trying to find. We need to carefully read the IEX Cloud API docs to know the structure.

In [5]:
# To take an example of what we get from IEX Cloud, we will take Microsoft
symbol='MSFT'
api_url = f'https://sandbox.iexapis.com/stable/stock/{symbol}/stats?token={IEX_CLOUD_API_TOKEN}'
ms_data = requests.get(api_url).json()

ms_data

{'avg10Volume': 32274084,
 'avg30Volume': 27415686,
 'beta': 1.1564834753412272,
 'companyName': 'Microsoft Corporation',
 'day200MovingAvg': 218.28,
 'day30ChangePercent': 0.023121686663047432,
 'day50MovingAvg': 225.36,
 'day5ChangePercent': 0.0648883834482844,
 'dividendYield': 0.009453471136648016,
 'employees': 0,
 'exDividendDate': '2020-11-16',
 'float': 0,
 'marketcap': 1746783765732,
 'maxChangePercent': 8.732411350019836,
 'month1ChangePercent': 0.009117084712751675,
 'month3ChangePercent': 0.05488515283244261,
 'month6ChangePercent': 0.07287746793386388,
 'nextDividendDate': '2021-02-14',
 'nextEarningsDate': '0',
 'peRatio': 35.99275346774564,
 'sharesOutstanding': 7632593509,
 'ttmDividendRate': 2.1596155903237766,
 'ttmEPS': 6.2,
 'week52change': 0.3837531657089547,
 'week52high': 237.52,
 'week52low': 140.68,
 'year1ChangePercent': 0.379391682883754,
 'year2ChangePercent': 1.2093480958762546,
 'year5ChangePercent': 3.7377482466658165,
 'ytdChangePercent': 0.01624216140671386}

We can now get specific information about our data using indices.

In [6]:
print("One Year Percentage Change:", ms_data['year1ChangePercent'])

One Year Percentage Change: 0.379391682883754

**NOTE:**

Since we are using sandbox test APIs, the values returned are not real.

## Data Analysis

Firstly, let's calculate the one-year price return for all the constituents in S&P 500. This will help us know which companies had the highest momentum for the latest year.

We will use batch API calls because it is much more efficient.

In [7]:
# For Batch API Call
def chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [8]:
symbol_batch = list(chunks(sp500['Symbol'], 100))
symbol_strings = []

for batch in symbol_batch:
    symbol_strings.append(','.join(batch))

df_columns = ['Symbol', 'Price', 'One-Year Price Return']
df = pd.DataFrame(columns=df_columns)

for symbol_string in symbol_strings:

    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
        df = df.append(pd.Series([symbol, data[symbol]['quote']['latestPrice'], 
                                  data[symbol]['stats']['year1ChangePercent']], 
                                  index=df_columns), ignore_index = True)
        
df

    Symbol   Price One-Year Price Return
0        A  131.34              0.414052
1      AAL   16.39              -0.42886
2      AAP  168.26              0.123336
3     AAPL  142.85              0.773768
4     ABBV  115.11              0.340278
..     ...     ...                   ...
500    YUM  111.82             0.0254913
501    ZBH  164.49             0.0762515
502   ZBRA  411.77              0.624899
503   ZION   48.52             0.0446758
504    ZTS  165.20              0.160751

[505 rows x 3 columns]

## 50 Highgest-momentum stocks in the S&P 500

We can now sort the list attained above and take the top 50 companies (and remove the rest).

In [9]:
df_sorted = df.sort_values('One-Year Price Return', ascending=False)
df_sorted = df_sorted[:50]

# inplace=True makes changes on this current data frame.
df_sorted.reset_index(drop=True, inplace=True)

# Print the data frame 
df_sorted

   Symbol    Price One-Year Price Return
0    CARR    39.92                2.3132
1     FCX    31.89               1.51745
2      LB    45.53                1.3426
3    NVDA   561.10               1.21355
4     ALB   175.40               1.20755
5    PYPL   252.00               1.19385
6    ALGN   548.75              0.941802
7     PWR    80.17              0.937272
8     WST   302.75              0.915959
9    ABMD   359.80              0.906723
10   SIVB   485.72              0.889565
11   LRCX   592.03              0.871602
12   CDNS   139.58              0.867652
13     DE   312.10              0.834875
14    AMD    97.05              0.828835
15   QCOM   163.73              0.817292
16   AAPL   142.85              0.773768
17   AMZN  3425.24              0.770965
18   SNPS   277.48              0.761493
19   KLAC   315.03              0.758875
20   IPGP   260.00               0.74617
21   NFLX   592.95              0.740259
22    CMG  1544.94              0.734183
23    NOW   566.82              0.733749
24   IDXX   500.04              0.728737
25    TGT   201.44              0.727856
26   TSCO   163.02              0.697083
27   AMAT   111.61              0.691702
28    FDX   263.80              0.684436
29    URI   263.95              0.667336
30   ZBRA   411.77              0.624899
31     GM    57.70              0.614046
32   TMUS   136.18              0.603915
33   EBAY    57.78              0.600173
34   ATVI    97.29              0.596048
35    BIO   611.73              0.595265
36   AVGO   473.13              0.581344
37   DXCM   382.67              0.580653
38   TTWO   214.67                0.5783
39   QRVO   188.61              0.574904
40    ROL    37.36              0.555167
41   FFIV   210.51              0.554758
42   ADSK   309.64              0.547377
43   APTV   141.20              0.547317
44   CTVA    43.73              0.541647
45   MXIM    94.56              0.534474
46   ODFL   206.33              0.534353
47    TMO   519.80              0.524366
48   REGN   561.26              0.518977
49    EMN   109.61              0.514498

So we now have a list of 50 companies that had the highest momentum in the latest year. However, this is quite a simple (and somewhat naive) model.

We will take a closer look using other APIs to get a more wholistic view of the S&P companies which will help us craft a better investing strategy.

## Momentum Strategy

It is important to distinguish between 'high-quality' and'low-quality' momentum. 

**High-quality momentum** stocks will show a **slower and steadier performance** throughout the entire year whereas low-quality momentum stocks may have a sudden (and often short-term) surge upward trend.

From IEX Cloud APIs, we will utilize four main factors to calculate their percentiles for each factor and take the arithmetic mean of the percentiles to calculate the HQM (High-Quality Momentum) score. The four factors are: 

- 1-Year Price Returns
- 6-Month Price Returns
- 3-Month Price Returns
- 1-Month Price Returns

In [10]:
hqm_columns = ['Symbol', 'Price', 'HQM Score', 'Num Shares to Purchase', 
               '1-Year Price Ret', '1-Year Return Per',
               '6-Month Price Ret','6-Month Return Per',
               '3-Month Price Ret','3-Month Return Per',
               '1-Month Price Ret','1-Month Return Per']

Let's first fill up the price return section for each time period (1-year, 6-months, 3-months, 1-month)

In [11]:
hqm_df = pd.DataFrame(columns=hqm_columns)

for symbol_string in symbol_strings:

    batch_api_call_url = f'https://sandbox.iexapis.com/stable/stock/market/batch/?types=stats,quote&symbols={symbol_string}&token={IEX_CLOUD_API_TOKEN}'
    data = requests.get(batch_api_call_url).json()

    for symbol in symbol_string.split(','):
        hqm_df = hqm_df.append(pd.Series([symbol, data[symbol]['quote']['latestPrice'],'N/A','N/A',
                                          data[symbol]['stats']['year1ChangePercent'],'N/A',
                                          data[symbol]['stats']['month6ChangePercent'],'N/A',
                                          data[symbol]['stats']['month3ChangePercent'],'N/A',
                                          data[symbol]['stats']['month1ChangePercent'],'N/A'], 
                                          index = hqm_columns), ignore_index = True)

# Print the data frame 
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  126.64  ...         0.0799613                N/A
1      AAL   15.97  ...         0.0224372                N/A
2      AAP  170.26  ...         0.0282053                N/A
3     AAPL  141.03  ...         0.0549944                N/A
4     ABBV  113.74  ...         0.0915006                N/A
..     ...     ...  ...               ...                ...
500    YUM  112.19  ...       -0.00296807                N/A
501    ZBH  162.47  ...          0.071491                N/A
502   ZBRA  424.28  ...         0.0764444                N/A
503   ZION   49.13  ...          0.148822                N/A
504    ZTS  165.57  ...          0.009392                N/A

[505 rows x 12 columns]

Now we can calculate the percentile using the scipy module.

In [12]:
from scipy import stats

time_periods = ['1-Year','6-Month','3-Month','1-Month']

# If any values are 'None', the code will not work. 
# So we first need to convert it to zeros. 
for row in hqm_df.index:
    for time_period in time_periods:
        if hqm_df.loc[row, f'{time_period} Price Ret'] == None:
            hqm_df.loc[row, f'{time_period} Price Ret'] = 0


for row in hqm_df.index:
    for time_period in time_periods:

        hqm_df.loc[row, f'{time_period} Return Per'] = stats.percentileofscore(a=hqm_df[f'{time_period} Price Ret'], 
                                                                               score=hqm_df.loc[row, f'{time_period} Price Ret'])

# Print the data frame    
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  126.64  ...         0.0799613             69.901
1      AAL   15.97  ...         0.0224372             40.198
2      AAP  170.26  ...         0.0282053            43.3663
3     AAPL  141.03  ...         0.0549944            59.4059
4     ABBV  113.74  ...         0.0915006            74.0594
..     ...     ...  ...               ...                ...
500    YUM  112.19  ...       -0.00296807            24.7525
501    ZBH  162.47  ...          0.071491            66.9307
502   ZBRA  424.28  ...         0.0764444            68.7129
503   ZION   49.13  ...          0.148822            89.1089
504    ZTS  165.57  ...          0.009392            31.6832

[505 rows x 12 columns]

## HQM (High Quality Momentum) Score

With the percentiles in place, we can now take their arithmetic mean to get a overall HQM score for each stock.

In [13]:
from statistics import mean

for row in hqm_df.index:
    momentum_percentiles = []

    for time_period in time_periods:
        momentum_percentiles.append(hqm_df.loc[row, f'{time_period} Return Per'])

    hqm_df.loc[row, 'HQM Score'] = mean(momentum_percentiles)

In [14]:
hqm_df

    Symbol   Price  ... 1-Month Price Ret 1-Month Return Per
0        A  126.64  ...         0.0799613             69.901
1      AAL   15.97  ...         0.0224372             40.198
2      AAP  170.26  ...         0.0282053            43.3663
3     AAPL  141.03  ...         0.0549944            59.4059
4     ABBV  113.74  ...         0.0915006            74.0594
..     ...     ...  ...               ...                ...
500    YUM  112.19  ...       -0.00296807            24.7525
501    ZBH  162.47  ...          0.071491            66.9307
502   ZBRA  424.28  ...         0.0764444            68.7129
503   ZION   49.13  ...          0.148822            89.1089
504    ZTS  165.57  ...          0.009392            31.6832

[505 rows x 12 columns]

Let's sort the entire data frame by its HQM score.

In [15]:
hqm_df_sorted = hqm_df.sort_values(by='HQM Score', ascending=False)
hqm_df_sorted = hqm_df_sorted[:50]

hqm_df_sorted.reset_index(inplace=True)

# Print the data frame 
hqm_df_sorted

    index Symbol  ...  1-Month Price Ret 1-Month Return Per
0     179    FCX  ...           0.265655            97.4257
1     410   SIVB  ...           0.311886            98.8119
2      23    ALB  ...           0.188299            94.2574
3     203     GM  ...           0.357577            99.4059
4      29   AMAT  ...           0.253186            97.0297
5     288   LRCX  ...           0.187196            94.0594
6     314    MOS  ...           0.296449            98.2178
7     275     LB  ...           0.200428            95.2475
8     266   KLAC  ...           0.185704            93.8614
9     324     MU  ...           0.171935            93.0693
10    467   VIAC  ...           0.317892            99.2079
11     16    AES  ...           0.192162            94.6535
12    462    URI  ...           0.138051            87.5248
13    128     DE  ...           0.141364            87.7228
14    385    PWR  ...           0.129093            85.3465
15    441    TPR  ...           0.142086            87.9208
16    174      F  ...           0.313196            99.0099
17    135  DISCA  ...           0.387783             99.802
18    253    IVZ  ...           0.241874            96.8317
19     45   APTV  ...           0.116285            83.5644
20    388   QCOM  ...           0.113619            82.1782
21    182   FFIV  ...           0.170297            92.8713
22    127     DD  ...           0.157984            91.2871
23    347    NWL  ...           0.181752            93.4653
24    389   QRVO  ...           0.108195             79.802
25    318     MS  ...           0.117196            83.7624
26    136  DISCK  ...           0.382679             99.604
27    263   KEYS  ...           0.130255            85.5446
28    246   IPGP  ...           0.152737             90.297
29    407   SCHW  ...            0.13139            86.3366
30    283    LLY  ...           0.240784            96.6337
31    436    TGT  ...           0.119119            83.9604
32    502   ZBRA  ...          0.0764444            68.7129
33    272    KSS  ...           0.185186            93.6634
34    210     GS  ...           0.163851            91.6832
35    172   EXPE  ...           0.109909            80.7921
36    299   MCHP  ...           0.099063            76.6337
37    394     RF  ...           0.156904            90.8911
38    120   CTVA  ...          0.0803722             70.099
39     89     CF  ...           0.201807            95.4455
40     50   AVGO  ...          0.0742922            67.9208
41    185   FITB  ...           0.166573            92.4752
42     37   ANET  ...          0.0711272            66.3366
43    325   MXIM  ...          0.0858953            72.2772
44    192    FRC  ...           0.150576             89.505
45    306    MHK  ...           0.104843            78.8119
46    433    TEL  ...           0.100559            76.8317
47    503   ZION  ...           0.148822            89.1089
48    256    JCI  ...           0.149253            89.3069
49     98    CMA  ...           0.153967             90.495

[50 rows x 13 columns]

## The Number of Shares to Purchase

We can use the same, simple method we used previously in other notes.

In [16]:
PORTFOLIO_SIZE = 100000
position_size = float(PORTFOLIO_SIZE) / len(hqm_df_sorted.index)
print(position_size)

2000.0

In [17]:
for i in range(0, len(hqm_df_sorted['Symbol'])):
    hqm_df_sorted.loc[i, 'Num Shares to Purchase'] = math.floor(position_size / hqm_df_sorted['Price'][i])

# Print the data frame 
hqm_df_sorted

    index Symbol  ...  1-Month Price Ret 1-Month Return Per
0     179    FCX  ...           0.265655            97.4257
1     410   SIVB  ...           0.311886            98.8119
2      23    ALB  ...           0.188299            94.2574
3     203     GM  ...           0.357577            99.4059
4      29   AMAT  ...           0.253186            97.0297
5     288   LRCX  ...           0.187196            94.0594
6     314    MOS  ...           0.296449            98.2178
7     275     LB  ...           0.200428            95.2475
8     266   KLAC  ...           0.185704            93.8614
9     324     MU  ...           0.171935            93.0693
10    467   VIAC  ...           0.317892            99.2079
11     16    AES  ...           0.192162            94.6535
12    462    URI  ...           0.138051            87.5248
13    128     DE  ...           0.141364            87.7228
14    385    PWR  ...           0.129093            85.3465
15    441    TPR  ...           0.142086            87.9208
16    174      F  ...           0.313196            99.0099
17    135  DISCA  ...           0.387783             99.802
18    253    IVZ  ...           0.241874            96.8317
19     45   APTV  ...           0.116285            83.5644
20    388   QCOM  ...           0.113619            82.1782
21    182   FFIV  ...           0.170297            92.8713
22    127     DD  ...           0.157984            91.2871
23    347    NWL  ...           0.181752            93.4653
24    389   QRVO  ...           0.108195             79.802
25    318     MS  ...           0.117196            83.7624
26    136  DISCK  ...           0.382679             99.604
27    263   KEYS  ...           0.130255            85.5446
28    246   IPGP  ...           0.152737             90.297
29    407   SCHW  ...            0.13139            86.3366
30    283    LLY  ...           0.240784            96.6337
31    436    TGT  ...           0.119119            83.9604
32    502   ZBRA  ...          0.0764444            68.7129
33    272    KSS  ...           0.185186            93.6634
34    210     GS  ...           0.163851            91.6832
35    172   EXPE  ...           0.109909            80.7921
36    299   MCHP  ...           0.099063            76.6337
37    394     RF  ...           0.156904            90.8911
38    120   CTVA  ...          0.0803722             70.099
39     89     CF  ...           0.201807            95.4455
40     50   AVGO  ...          0.0742922            67.9208
41    185   FITB  ...           0.166573            92.4752
42     37   ANET  ...          0.0711272            66.3366
43    325   MXIM  ...          0.0858953            72.2772
44    192    FRC  ...           0.150576             89.505
45    306    MHK  ...           0.104843            78.8119
46    433    TEL  ...           0.100559            76.8317
47    503   ZION  ...           0.148822            89.1089
48    256    JCI  ...           0.149253            89.3069
49     98    CMA  ...           0.153967             90.495

[50 rows x 13 columns]